/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.navbar-items {
    display: flex;
    align-items: center;
}

.notifications {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.notification-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.notification-dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-width: 200px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Dashboard styles */
.dashboard {
    margin-top: 60px;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-btn {
    margin: 15px;
    padding: 100px 100px;
    font-size: 18px;
    background-image: url(earwarmerpurple.jpg);
    background-size: contain;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.action-btn:hover {
    
    transform: scale(1.05);
}
